<form [formGroup]="searchFormGroup">    
        <div fxLayout="row" fxLayoutAlign="none center">
            <div fxFlex>
                <mat-form-field fxFlex="grow">
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              placeholder="Search"
                              formControlName="query"
                              autocomplete="off"
                              class="search-form"></textarea>
                </mat-form-field>
            </div>
            <div >
                <button mat-icon-button
                        (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div fxFlex="nogrow">
                <button mat-icon-button
                (click)="toggle()">
                <mat-icon>filter_alt</mat-icon>
                </button>
            </div>
        </div>
</form>